<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->

  <div *ngIf="currentUser === null; else elseSection"></div>
  <ng-template #elseSection>
    <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">
            <div class="logo">
              <img src="../assets/images/logo.svg" alt="homepage" class="dark-logo" width="40" height="40" />
              <h2>Rent PRO</h2>
            </div>
          </a>
        </div>

        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav mr-auto mt-md-0">
            <!-- This is  -->
            <li class="nav-item">
              <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"
                ><i class="ti-menu"></i
              ></a>
            </li>
            <!-- <li class="nav-item">
              <a
                class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
                href="javascript:void(0)"
                ><i class="icon-arrow-left-circle"></i
              ></a>
            </li> -->

            <!-- ============================================================== -->
            <!-- Messages -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown mega-dropdown">
              <a
                class="nav-link dropdown-toggle text-muted waves-effect waves-dark com-info"
                href=""
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                ><i class="mdi mdi-view-grid"></i
              ></a>
              <div class="dropdown-menu animated bounceInDown">
                <ul class="mega-dropdown-menu row">
                  <li class="col-lg-3 col-xlg-2 mb-4"></li>

                  <li class="col-lg-3 mb-4">
                    <!-- <h4 class="mb-3">CONTACT US</h4> -->
                    <br />
                    <br />
                    <img class="d-block img-fluid" src="../assets/Mediasoft-Logo.png" alt="MSDSL" />
                  </li>

                  <li class="col-lg-3 mb-4">
                    <h4 class="mb-3">Product Name : RentPro</h4>
                    <!-- Accordian -->
                    <div id="accordion" class="nav-accordion" role="tablist" aria-multiselectable="true">
                      <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true">
                              Version : {{ version }}
                            </a>
                          </h5>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true">
                              Copyright : 2023 (C)
                            </a>
                          </h5>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true">
                              Company : Mediasoft Data Systems ltd.
                            </a>
                          </h5>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="col-lg-3 col-xlg-4 mb-4">
                    <h4 class="mb-3">Address:</h4>
                    <!-- List style -->
                    BDBL Bhaban (5th Floor) <br />
                    12 Kazi Nazrul Islam Avenue <br />
                    Karwan Bazar, Dhaka- 1215 <br />
                    e-mail: admin@mediasoft-bd.net <br />
                    www.mediasoftbd.com <br />
                    Phone: +88 02 913 4045, +88 02 814 2750
                  </li>
                </ul>
              </div>
            </li>
            <!-- ============================================================== -->
            <!-- End Messages -->
            <!-- ============================================================== -->
          </ul>
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
          <ul class="navbar-nav my-lg-0">
            <!-- <li class="nav-item hidden-sm-down">
              <form class="app-search">
                <label class="col-sm-12 text-white control-label">Shop:{{ shopName }}   </label>
              </form>
            </li> -->

            <!-- <li class="nav-item hidden-sm-down">
              <form class="app-search">
                <input type="text" class="form-control" placeholder="Search for..." />
                <a class="srh-btn"><i class="ti-search"></i></a>
              </form>
            </li> -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-muted waves-effect waves-dark"
                href=""
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <div class="nav-user-info">
                  <img src="../assets/images/users/user.svg" alt="user" class="profile-pic" />
                  <!-- <i class="fa fa-user"></i> -->
                  <h4>{{ currentUser.username }}</h4>
                </div>
                <!-- <img src="../assets/images/users/user.svg" alt="user" class="profile-pic"
              /> -->
              </a>
              <!-- <div class="dropdown-menu dropdown-menu-right animated bounceInDown"> -->
              <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
                <ul class="dropdown-user">
                  <li class="">
                    <div class="dw-user-box">
                      <!-- <div class="u-img"><img src="../assets/images/users/user-dark.svg" alt="user" /></div> -->
                      <div class="u-text">
                        <h4>{{ currentUser.username }}</h4>
                        <p class="text-muted">{{ currentUser.Email }}</p>
                        <a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                      </div>
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="#"><i class="ti-user"></i> My Profile</a>
                  </li>
                  <li>
                    <a href="#"><i class="ti-wallet"></i> My Balance</a>
                  </li>
                  <li>
                    <a href="#"><i class="ti-email"></i> Inbox</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="#"><i class="ti-settings"></i> Account Setting</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a (click)="logout()"><i class="fa fa-power-off"></i> Logout</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-muted waves-effect waves-dark"
                href=""
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <!-- <i class="flag-icon flag-icon-bd"></i
              > -->
              </a>
              <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-bd"></i> Bangladesh</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </ng-template>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->

  <div *ngIf="currentUser === null; else elseSection2"></div>
  <ng-template #elseSection2>
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
          <!-- User profile image -->
          <!-- <div class="profile-img"><img src="../assets/images/users/user-dark.svg" alt="user" /></div> -->
          <!-- User profile text-->
          <div class="profile-text">
            <div class="user-name-main">
              <!-- <i class="fa fa-user"></i> -->
              <!-- {{ currentUser.username }} -->
            </div>
            <!-- <a
              href="#"
              class="dropdown-toggle link u-dropdown"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="true"
            >
              
              <span class="caret"></span
            ></a> -->
            <!-- <div class="dropdown-menu animated bounceInDown">
              <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
              <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
              <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
              <div class="dropdown-divider"></div>
              <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
            </div> -->
          </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <app-nav-menu></app-nav-menu>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
      <!-- Bottom points-->
      <div class="sidebar-footer">
        <footer>© Mediasoft DataSystems ltd.</footer>

        <!-- <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>

        <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>

        <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a> -->
      </div>
      <!-- End Bottom points-->

      <!-- <div *ngIf="currentUser === null; else elseSection3"></div>
      <ng-template #elseSection3>
        <footer class="footer">© 2022 Mediasoft DataSystems ltd.</footer>
      </ng-template> -->
    </aside>
  </ng-template>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->

      <router-outlet></router-outlet>

      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<!-- Bootstrap tether Core JavaScript -->
<!-- slimscrollbar scrollbar JavaScript -->
<!--Wave Effects -->
<!--Menu sidebar -->
<!--stickey kit -->
<!--Custom JavaScript -->
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!-- chartist chart -->

<!-- <script>
    $.toast({
      heading: 'Welcome to Monster admin',
      text: 'Use the predefined ones, or specify a custom position object.',
      position: 'top-right',
      loaderBg: '#ff6849',
      icon: 'info',
      hideAfter: 3000,
      stack: 6
    });
  </script> -->
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
