.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}
.card {
  padding: 20px;
}
.css-bar > i {
  background: #fff;
  line-height: 70px;
  border-radius: 100%;
  text-align: center;
  font-size: 70px;
  color: #a6b7bf;
}
